/* Style pour le conteneur de la page */
.page-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Style pour le conteneur du tableau */
  .table-container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le tableau */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  
    th, td {
      padding: 12px 15px;
      border: 1px solid #ddd;
      text-align: left;
    }
  
    th {
      background-color: #f4f4f4;
    }
  
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  
    tr:hover {
      background-color: #f1f1f1;
    }
  }
  
  /* Style pour le message de données non trouvées */
  .no-data {
    padding: 20px;
    text-align: center;
    color: #ff0000;
  }

  .form-container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  
    div {
      margin-bottom: 15px;
    }
  
    label {
      margin-bottom: 5px;
      font-weight: bold;
    }
  
    input {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  
    button {
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: white;
      cursor: pointer;
    }
  
    button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  